#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
    font-family: Verdana;
    font-size: 15px;
    line-height: 1.5;
    padding: 0.5%;
    margin: 0.5%;
    background-color: #f4f4f4;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
.prod_box {
    width: 200px;
    padding: 15px;
    margin: 16px;
    border: 1px solid #8080804f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.prod_box button{
    display: block;
    margin: 0px auto;
    width: 120px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 6px;
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
}
.sold_out{
    background-color: transparent !important;
    color: black !important;
    cursor:not-allowed !important;
}
.prod_box .stock{
    font-size: 12px !important;
    margin-top: 8px;
}
.dropdown{
    border: 1px solid gray;
    width: 120px;
    height: 35px;
    border-radius: 6px;
}
.filter_section{
    margin: 20px 0px;
}
.home{
    width: 80%;
    margin: 0px auto;
}

.contain {
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#checkout {
    display: block;
    width: 220px;
    margin: 0px auto;
    text-align: center;
}
#sort{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#sort p{
    font-weight: 800;
    margin: 0px 15px;
}
#search li {
    list-style-type: none;
    text-align: left;
    background-color: #f6f6f6;
    /* Grey background color */
    display: block;
    /* Make it into a block element to fill the whole list */
    border-left: 2px solid #000;
    width: 165px;
}

#search {
    margin-bottom: 1%;
}
.searchBar {
    width: 200px;
    margin: 0px auto;
    height: 28px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 7px;
    border: 1px solid;
}
.sort_option{
    min-width: 75px;
}
.signup input{
    width: 200px;
    margin: 0px auto;
}
.submit{
    display: block !important;
    margin: 27px auto !important;
    height: 28px !important;
}
header button {
    padding: 13px;
    margin-top: 5px;
    background-color: #43b983;
    border: 1px solid black;
    border-radius: 6px;
}
#search ul {
    padding: 0px;
}

#search ul :hover {
    background-color: rgba(238, 238, 238, 0.87);
    /* Add a hover effect to all links, except for headers */
}